/* === ÉTAPE 4 === */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Averia Serif Libre', sans-serif;
    font-weight: bold;
    background-color: rgb(9,26,33);
}

h1, p, a, span {
    color: #eca136;
}

a {
    text-decoration: none;
}

/* === ÉTAPE 5 === */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* === ÉTAPE 6 === */

header {
    width: 1000px;
    background-color: rgba(15, 38, 49, 0.95);
    position: fixed;
    left: calc(50% - 500px);
    bottom: calc(100% - 60px);
    border-radius: 0 0 20px 20px;
    z-index: 3;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

header .wrapper {
    size: 5rem;
}

/* === ÉTAPE 7 === */

.contenu {
    max-width: 925px;
    margin: 0 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

.contenu img {
    max-width: 100%;
}

.contenu ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 45px;
   list-style: none;
   padding: 0;
}

.contenu li {
    background-color: rgb(15, 38, 49);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.bouton .material-symbols-outlined  {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    border-radius: 0 0 0 5px;
    left: calc(100% - 45px);
    z-index: 2;
    cursor: pointer;
}

/* === ÉTAPE 8 === */

footer {
    background-color: rgba(15, 38, 49, 0.95);
    border-radius: 15px 15px 0 0;
    width: 1000px;
    position: fixed;
    left: calc(50% - 500px);
    top: calc(100% - 50px);
    z-index: 3;
}

footer .wrapper {
    size: 5rem;
}

footer .wrapper p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

/* === ÉTAPE 9 === */

.media {
    background-color: rgb(15, 38, 49);
    border-radius: 0 15px 15px 0;
    position: fixed;
    top: 200px;
    left: 0px;
    z-index: 4;
}

.media img {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
}

.media img:hover {
    left: 3px;
}

.media ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* === ÉTAPE 10 === */

img.zoom {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    cursor: pointer;
}

div.modale {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
}

div.visible {
    display: flex;
}

/* === ÉTAPE 11 === */

