/* === ÉTAPE 4 === */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Averia Serif Libre', sans-serif;
    font-weight: bold;
    background-color: rgb(9,26,33);
}

h1, p, a, span {
    color: #eca136;
}

a {
    text-decoration: none;
}

/* === ÉTAPE 5 === */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* === ÉTAPE 6 === */

header {
    width: 1000px;
    background-color: rgba(15, 38, 49, 0.95);
    position: fixed;
    left: calc(50% - 500px);
    border-radius: 0 0 20px 20px;
    z-index: 3;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

header .wrapper {
    size: 5rem;
}

/* === ÉTAPE 7 === */

.contenu {
    max-width: 925px;
    margin: 0 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 45px;
   list-style: none;
   padding: 0;
}

li {
    background-color: rgb(15, 38, 49);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.bouton .material-symbols-outlined  {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    border-radius: 0 0 0 5px;
    left: calc(100% - 45px);
    z-index: 2;
}

